<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>StayEase</title>
    <style>
        body {
            margin: 0;
            padding: 0;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            color: #333;
            background-color: #f8f9fa;
        }

        .main {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
            max-width: 100%;
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        .header {
            width: 100%;
            padding: 1.7rem 2rem;
            max-width: 70%;
            border-radius: 8px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            box-sizing: border-box;
        }

        .header h3 {
            margin: 0;
            font-size: 1.5rem;
        }

        .header div {
            display: flex;
            align-items: center;
            gap: 1.5rem;
        }

        .header div span,
        .header .contact-btn {
            cursor: pointer;
            font-size: 1rem;
        }

         .contact-btn {
            width: 7rem;
            padding: 0.5rem 1rem;
            background-color: white;
            box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 1px;
            color: black;
            border: none;
            border-radius: 4px;
            transition: background-color 0.3s;
        }

        .header .contact-btn:hover {
            background-color: #289b1f;
            color: white;
        }

        .c1 {
    position: relative;
    background-image: url('https://cdn.b12.io/media/bb689be6-3cab-11e8-bbb9-0242ac11000f-jpeg-hero_image.jpeg');
    background-size: cover;
    background-position: center;
   
    height: 80vh;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
    color: white;
    width: 100%;
    box-sizing: border-box;
    display: flex;
            flex-direction: column;
            justify-content: center;
}

.c1::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Adjust the alpha value for desired darkness */
    border-radius: 8px;
    z-index: 1;
}

.c1 h1, .c1 h4, .c1 button {
    position: relative;
    z-index: 2;
}

        .inner-c1
        {
           
            padding-top: 3rem;
            width: 70%;
            margin: auto;
            text-align: left;
            padding-left: 2rem;
        }

        .inner-c1 h1 {
            font-size: 4rem;
            font-weight: 700;
            margin-bottom: 0.5rem;
        }

        .inner-c1 h4 {
            font-size: 1.5rem;
            margin-bottom: 2rem;
        }

        .inner-c1 button {
            padding: 0.75rem 2rem;
            font-size: 1rem;
            border: none;
            border-radius: 2px;
            background-color: #32AA27;
            color: white;
            cursor: pointer;
            transition: background-color 0.3s;
        }

        .inner-c1 button:hover {
            background-color: #289b1f;
        }

        .c2 {
            display: flex;
            flex-direction: row;
            gap: 2rem;
            margin-top: 4rem;
            padding: 1rem;
            background-color: white;
            border-radius: 8px;
           
            width: 70%;
            box-sizing: border-box;
            height: 70vh;
        }

        .c2 h3 {
            font-size: 1.75rem;
            margin-bottom: 1rem;
            margin-top: 0;
        }

        .c2 p {
            margin: 0;
            line-height: 1.5;
            color: #666;
            padding-right: 2rem;
        }

        .c2 img {
           
            object-fit: cover;
            
            width: 100%;
        }

        .c3 {
            margin-bottom: 2rem;
            margin-top: 2rem;
            padding: 1rem;
           height: 70vh;
            border-radius: 8px;
            box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
            text-align: center;
            width: 100%;
            box-sizing: border-box;
            background-color: #EEF1EF;
            display: flex;
            align-items: center;
        }
        .inner-c3
        {
            width: 70%;
            margin: auto;
          
        }

        .inner-c3 h2 {
            font-weight: 700;
            margin-bottom: 2rem;
           text-align: left;
        }

        .inner-c3 div {
            width: 100% !important;
            display: flex;
            justify-content: space-around;
            flex-wrap: wrap;
            gap: 1.5rem;
            width: 100% !important;
            box-sizing: border-box;
        }

        .inner-c3 div div {
            width: 30% !important;
            height: 21rem;
            background-color: #f8f9fa;
            padding: 0 !important;
            
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            text-align: left;
            box-sizing: border-box;
        }

        .inner-c3 div div img {
            width: 100%;
          height: 60% !important;
            height: 150px;
            object-fit: cover;
           
        }

        .inner-c3 div div h6 {
            text-align: left;
            font-size: 1.25rem;
          
            
        }

        .inner-c3 div div p {
            text-align: left;
            color: #666;
            font-size: 0.95rem;
        }

        .c4 {
            margin-top: 2rem;
            padding: 2rem;
            background-color: white;
            width: 100%;
            box-sizing: border-box;
            width: 70%;
            margin: auto;
        }

        .c4 form {
            flex: 1;
            box-sizing: border-box;
        }

        .c4 form label {
            font-weight: bold;
            margin-bottom: 0.5rem;
            display: inline-block;
            color: #333;
        }

        .c4 form input,
        .c4 form textarea {
            width: 100%;
            padding: 0.75rem;
            margin-bottom: 1rem;
            border: 1px solid #ddd;
            border-radius: 4px;
            box-sizing: border-box;
        }

        .c4 form button {
            padding: 0.75rem 2rem;
            border: none;
            border-radius: 4px;
            background-color: #007bff;
            color: white;
            cursor: pointer;
            transition: background-color 0.3s;
        }

        .c4 form button:hover {
            background-color: #0069d9;
        }

        .c4 div span {
            display: block;
          
            color: #666;
        }

        .c4 div i {
            margin-right: 0.5rem;
        }

        @media (min-width: 768px) {
            .c2 {
                flex-direction: row;
            }

            .c2 div:first-child {
                flex: 1;
            }

            .c2 div:last-child {
                flex: 1;
            }

            .c3 div div {
                width: 28%;
            }

            .c4 {
                flex-direction: row;
            }

            .c4 form {
                margin-right: 2rem;
            }
        }

        @media (max-width: 768px) {
            .c2 img {
                max-height: 200px;
            }

            .c3 div div {
                width: 100%;
            }
        }
        .f-info-links a
{
    text-decoration: none;
    color: #222222;
}
.f-info-links a:hover
{
    text-decoration:underline;
}
.f-info
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: #ebebeb;
    height: 10rem;
   
}

.links {
    position: relative; 
    color: #000; 
    transition: color 0.3s ease-in-out;
}

.links::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px; 
    background-color: #32AA27; 
    left: 0;
    bottom: -6px; 
    transform: scaleY(0); 
    transform-origin: bottom; 
    transition: transform 0.3s ease-in-out;
}

.links:hover {
    color: #32AA27; /* Change link color to green on hover */
}

.links:hover::after {
    transform: scaleY(1); /* Full underline on hover */
}



    </style>
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    
</head>

<body>
    <div class="main">
        <div class="header">
            <h3 style="font-weight: 800; font-size: 1.6rem; cursor: pointer;">STAYEASE</h3>
            <div>
                <span class="links">Home</span><span class="links">About</span><span class="links">Services</span>
                <button class="contact-btn">Contact</button>
            </div>
        </div>
        <div class="c1">
            <div class="inner-c1">
                <h1>StayEase</h1>
            <h4>Discover, book, and manage your perfect stay with StayEase.</h4>
            <button style="font-weight: 700;">VIEW SERVICES</button>
            </div>
        </div>
        <div class="c2" >
            <div style="height: 100%; display: flex; flex-direction: column; justify-content: center;">
                <p style="font-size: 1.2rem; margin-bottom: 0.8rem; color: #32AA27;">Discover StayEase</p>
                <h3>Your gateway to seamless bookings</h3>
                <p>StayEase is revolutionizing the way you find your perfect accommodation in Pune. With our user-friendly
                    platform, guests can easily search for properties, make bookings, and explore nearby hotels using an
                    integrated map. Property owners can list their spaces effortlessly, ensuring a smooth experience for
                    both guests and hosts. Enjoy a hassle-free stay with StayEase, where comfort meets convenience.</p>
            </div>
            <div  style="height: 100%;">
                <img  src="https://cdn.b12.io/client_media/ZVAXFXpm/5e31b70a-5bee-11ef-89c7-0242ac110002-jpg-hero_image.jpeg" style="height: 100%;" alt="StayEase Image">
            </div>
        </div>
        <div class="c3">
            <div class="inner-c3">
            <h5 style="text-align: left; color: #32AA27;" class="mb-3">Our Services</h5>
            <h2>Explore what we offer</h2>
            <div class="row">
                <div class="col-md-4 col-sm-12 card">
                    <img src="https://cdn.b12.io/client_media/ZVAXFXpm/5fad6f34-5bee-11ef-ac8f-0242ac110002-jpg-regular_image.jpeg" alt="Service 1">
                    <h6 style="text-align: left !important; width: 100% !important; margin-left: 0.5rem;">Guest Booking</h6>
                    <p style="text-align: left !important; width: 100% !important; margin-left: 0.5rem;">Book your stay easily with just few clicks.</p>
                </div>
                <div class="col-md-4 col-sm-12 card">
                    <img src="https://cdn.b12.io/client_media/ZVAXFXpm/5f413ada-5bee-11ef-ac8f-0242ac110002-jpg-regular_image.jpeg" alt="Service 2">
                    <h6 style="text-align: left !important; width: 100% !important; margin-left: 0.5rem;">Property Listing</h6>
                    <p style="text-align: left !important; width: 100% !important; margin-left: 0.5rem;">Easily list your property for potential guests to discover.</p>
                </div>
                <div class="col-md-4 col-sm-12 card">
                    <img src="https://cdn.b12.io/client_media/ZVAXFXpm/5f95fb7e-5bee-11ef-ac8f-0242ac110002-jpg-regular_image.jpeg" style="object-fit: cover;" alt="Service 3">
                    <h6 style="text-align: left !important; width: 100% !important; margin-left: 0.5rem;">Customer Support</h6>
                    <p style="text-align: left !important; width: 100% !important; margin-left: 0.5rem;">We're here to help with any questions or issues you might have, 24/7.</p>
                </div>
            </div>
            </div>
        </div>
        <div class="row c4 mb-4">
           <div class="col-lg-6 col-12">
            <form action="">
                <p class="mb-2" style="font-weight: 700; color: #32AA27;">GET IN TOUCH</p>
                <h3 class="mb-3">We'd love to hear from you!</h3>
                <label for="name">Name:</label>
                <input type="text" id="name" name="name">
                <label for="email">Email:</label>
                <input type="email" id="email" name="email">
                <label for="message">Message:</label>
                <textarea id="message" name="message" rows="5"></textarea>
                <button type="submit" style="background-color: #32AA27; color: white; width: 100%;">Submit</button>
            </form>
           </div>
            <div class="col-lg-6 col-12 xxy" style="background-color:#EEF1EF; padding-top: 3rem; ">
                
                <div class="mb-3" >
                    <h5 style="font-weight: 700;">Get in touch</h5>
                    <div style="display: flex; align-items: center; cursor: pointer;">
                        <i class="fa-regular fa-envelope"></i>
                        <span>koushal9424@gmail.com</span>
                    </div>
                </div>
                <div class="mb-3" style="cursor: pointer;">
                    <h5 style="font-weight: 700;">Location</h5>
                    <div style="display: flex; align-items: center; cursor: pointer;">
                        <i class="fa-solid fa-location-dot"></i>
                        <span>Pune,MH IN</span>
                    </div>
                </div>
                <div >
                    <h5 style="font-weight: 700;">Hours</h5>
                    <div style="width: 90%;">
                        <div style="display: flex; justify-content: space-between;">
                            <span>Monday</span> <span>  9:00am	–	10:00pm</span>
                        </div>
                        <div style="display: flex; justify-content: space-between;">
                            <span>Tuesday</span> <span>  9:00am	–	10:00pm</span>
                        </div>
                        <div style="display: flex; justify-content: space-between;">
                            <span>Wednesday</span> <span>  9:00am	–	10:00pm</span>
                        </div>
                        <div style="display: flex; justify-content: space-between;">
                            <span>Thursday</span> <span>  9:00am	–	10:00pm</span>
                        </div>
                        <div style="display: flex; justify-content: space-between;">
                            <span>Friday</span> <span>  9:00am	–	10:00pm</span>
                        </div>
                        <div style="display: flex; justify-content: space-between;">
                            <span>Saturday</span> <span>  9:00am	–	10:00pm</span>
                        </div>
                        <div style="display: flex; justify-content: space-between;">
                            <span>Sunday</span> <span>  9:00am	–	10:00pm</span>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <footer style="width: 100%;">
            <div class="f-info" >
                <div class="f-info-socials" style="font-size: 1.4rem;">
                    <i class="fa-brands fa-facebook"></i>&nbsp;
                    <i class="fa-brands fa-square-instagram"></i>&nbsp;
                    <i class="fa-brands fa-linkedin"></i>
                </div>
                <div>&copy;StayEase Private Limited</div>
                <div class="f-info-links">
                    <a href="/privacy">Privacy</a>
                    <a href="/terms">Terms</a>
                </div>
            </div>
        </footer>
       
        
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>
