<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>StayEase</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <style>
        
       
        nav.navbar {
            width: 100%;
            
            position: fixed;
            top: 0;
            left: 0;
            
            z-index: 10;
            background-color: rgba(255, 255, 255, 0.9); 
            backdrop-filter: blur(10px); 
            transition: background-color 0.3s, backdrop-filter 0.3s;
            padding: 1rem 0;
        }

        nav.navbar.scrolled {
            background-color: #fff; 
            backdrop-filter: none;
        }

        .nav-link {
            color: #000;
            text-decoration: none;
            padding: 10px;
            position: relative;
            display: inline-block;
        }

        .nav-link:hover {
            color: #32AA27;
        }

        .nav-link::after {
            content: "";
            display: block;
            width: 0;
            height: 2px;
            background-color: #32AA27;
            transition: width 0.3s ease;
            position: absolute;
            left: 0;
            bottom: 0;
        }

        .nav-link:hover::after {
            width: 100%;
        }

        .contact-link {
            display: none;
        }

        .navbar-nav .nav-item {
            margin-right: 20px;
        }

        .navbar-nav .nav-item:last-child {
            margin-right: 0;
        }

        @media (max-width: 768px) {
            .navbar-nav {
                flex-direction: column;
               
            }

            .collapse.navbar-collapse {
                position: fixed;
                top: 56px; 
                left: 0;
                right: 0;
                background-color: rgba(255, 255, 255, 0.9);
                z-index: 11;
                transition: transform 0.3s ease;
                transform: translateY(-100%);
            }

            .collapse.show {
                transform: translateY(0);
            }

            .contact-link {
                display: block;
            }

            .contact-btn {
                display: none;
            }
        }

        
        .c1 {
            position: relative;
            background-image: url('https://cdn.b12.io/media/bb689be6-3cab-11e8-bbb9-0242ac11000f-jpeg-hero_image.jpeg');
            background-size: cover;
            background-position: center;
            height: 80vh;
            box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
            color: white;
            width: 100%;
            box-sizing: border-box;
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin-top: 56px; 
        }

        .c1::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.5);
            border-radius: 8px;
            z-index: 1;
        }

        .c1 h1,
        .c1 h4,
        .c1 button {
            position: relative;
            z-index: 2;
        }

        .inner-c1 {
            padding-top: 3rem;
            width: 70%;
            margin: auto;
            text-align: left;
            padding-left: 2rem;
        }

        .inner-c1 h1 {
            font-size: 4rem;
            font-weight: 700;
            margin-bottom: 0.5rem;
        }

        .inner-c1 h4 {
            font-size: 1.5rem;
            margin-bottom: 2rem;
        }

        .inner-c1 button {
            padding: 0.75rem 2rem;
            font-size: 1rem;
            border: none;
            border-radius: 2px;
            background-color: #32AA27;
            color: white;
            cursor: pointer;
            transition: background-color 0.3s;
        }
        .inner-container-fluid
        {
            width: 70%;
            margin: auto;
        }

        .inner-c1 button:hover {
            background-color: #289b1f;
        }
        .c2
        {
            width: 70%;
            margin: auto;
           
        }
        .c3
        {
            width: 70%;
            margin: auto;
        }
        .card
        {
            width: 30%;
            margin-right: 1.5rem;
            margin-bottom: 2rem;
            padding: 0 !important;
            transition: transform 0.3s ease;
            cursor: pointer;
            min-width: 220px;
        }

        @media (max-width: 768px) {
            .inner-container-fluid{
                width: 100%; 
            }
            .card
            {
                width: 100%;
            }
            .c2
            {
                width: 100%;
            }
            .inner-c1 {
                padding-left: 1rem;
                width: 100%;
            }

            .inner-c1 h1 {
                font-size: 3rem;
            }

            .inner-c1 h4 {
                font-size: 1.25rem;
            }

            .inner-c1 button {
                font-size: 0.875rem;
            }
            .c3
            {
                width: 100%;
                
            }
            .c4 
            {
                width: 100% !important;
                margin: 0% !important;
               
            }
           
        }
        .card:hover
        {
            transform: scale(1.05);
        }
        .card:hover h6
        {
            color: #32AA27;
        }



        .c4 {
            margin-top: 2rem;
            /* padding: 2rem; */
            background-color: white;
            
            box-sizing: border-box;
            width: 70%;
            margin: auto;
        }

        .c4 form {
            flex: 1;
            box-sizing: border-box;
        }

        .c4 form label {
            font-weight: bold;
            margin-bottom: 0.5rem;
            display: inline-block;
            color: #333;
        }

        .c4 form input,
        .c4 form textarea {
            width: 100%;
            padding: 0.75rem;
            margin-bottom: 1rem;
            border: 1px solid #ddd;
            border-radius: 4px;
            box-sizing: border-box;
        }

        .c4 form button {
            padding: 0.75rem 2rem;
            border: none;
            border-radius: 4px;
            background-color: #007bff;
            color: white;
            cursor: pointer;
            transition: background-color 0.3s;
        }

        .c4 form button:hover {
            background-color: #0069d9;
        }

        .c4 div span {
            display: block;
          
            color: #666;
        }

        .c4 div i {
            margin-right: 0.5rem;
        }

        .f-info-links a
{
    text-decoration: none;
    color: #222222;
}
.f-info-links a:hover
{
    text-decoration:underline;
}
.f-info
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: #ebebeb;
    height: 10rem;
   
}


       
        
    </style>
</head>

<body>
    <div class="container-fluid">
        
        <div class="d-flex flex-column align-items-center pt-2 mb-2 " >
            <nav class="navbar navbar-expand-md navbar-light bg-light pr-2">
                <div class="container-fluid inner-container-fluid" >
                    <a class="navbar-brand fw-bold" style="font-size: 1.5rem;" href="#">StayEase</a>
                    <button style="font-size: 1rem;" class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                        <ul class="navbar-nav">
                            <li class="nav-item nav-item-collapse">
                                <a class="nav-link" aria-current="page" href="#"  style="cursor: pointer;">Home</a>
                            </li>
                            <li class="nav-item nav-item-collapse">
                                <a class="nav-link about" style="cursor: pointer;">About</a>
                            </li>
                            <li class="nav-item nav-item-collapse">
                                <a class="nav-link services" style="cursor: pointer;">Services</a>
                            </li>
                            <li class="nav-item nav-item-collapse">
                                <button class="btn btn-outline-dark ms-lg-3 contact-btn" data-bs-target="#contactSection">Contact</button>
                                <a class="nav-link contact-link"  href="#contactSection">Contact</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>

        
        <div class="c1 mb-5">
            <div class="inner-c1">
                <h1  id="typed-text">StayEase</h1>
                <h4>Discover, book, and manage your perfect stay with StayEase.</h4>
                <form action="/listings">
                    <button style="font-weight: 700;" >Explore Villa's</button>
                </form>
            </div>
        </div>

        <div class="c2 row pt-5 pb-5 mb-4" id="aboutSection">
            <div class="col-md-6 col-12 mb-4" style="display: flex; flex-direction: column; justify-content: center; ">
                <p style="font-size: 1.2rem; margin-bottom: 0.8rem; color: #32AA27;">Discover StayEase</p>
                <h3>Your gateway to seamless bookings</h3>
                <p>StayEase is revolutionizing the way you find your perfect accommodation in Pune. With our user-friendly
                    platform, guests can easily search for properties, make bookings, and explore nearby hotels using an
                    integrated map. Property owners can list their spaces effortlessly, ensuring a smooth experience for
                    both guests and hosts. Enjoy a hassle-free stay with StayEase, where comfort meets convenience.</p>
            </div>
            <div class="col-md-6 col-12 mb-4" >
                <img   src="https://cdn.b12.io/client_media/ZVAXFXpm/5e31b70a-5bee-11ef-89c7-0242ac110002-jpg-hero_image.jpeg" style=" width: 100%; height: 100%;" alt="StayEase Image">
            </div>
        </div>


        <div class="c3 mb-4 p-2" id="serviceSection">
            <div class="inner-c3">
            <h5 style="text-align: left; color: #32AA27;" >Our Services</h5>
            <h2 class="mb-4">Explore what we offer</h2>
            <div class="row" style="margin: auto;">
                <div class="card mb-3" >
                    <img style="height: 60%;" class="mb-2"  src="https://cdn.b12.io/client_media/ZVAXFXpm/5fad6f34-5bee-11ef-ac8f-0242ac110002-jpg-regular_image.jpeg" alt="Service 1">
                    <a  style="text-decoration: none;"><h6 class="mb-3" style="text-align: left !important; width: 100% !important; margin-left: 0.5rem;">Guest Booking </h6></a>
                    <p style="text-align: left !important;  width: 95% !important; margin-left: 0.5rem;">Book your stay easily with just few clicks.</p>
                </div>
                <div class="card mb-3" >
                    <img style="height: 60%;"  class="mb-2" src="https://cdn.b12.io/client_media/ZVAXFXpm/5f413ada-5bee-11ef-ac8f-0242ac110002-jpg-regular_image.jpeg" alt="Service 2">
                    <a style="text-decoration: none;"> <h6 class="mb-3" style="text-align: left !important; width: 100% !important; margin-left: 0.5rem;">Property Listing</h6></a>
                    <p style="text-align: left !important; width: 95% !important; margin-left: 0.5rem;">Easily list your property for potential guests to discover.</p>
                </div>
                <div class="card mb-3">
                    <img style="height: 60%;"   class="mb-2"src="https://cdn.b12.io/client_media/ZVAXFXpm/5f95fb7e-5bee-11ef-ac8f-0242ac110002-jpg-regular_image.jpeg" style="object-fit: cover;" alt="Service 3">
                    <a style="text-decoration: none;"><h6 class="mb-3" style="text-align: left !important; width: 100% !important; margin-left: 0.5rem;">Explore Nearby Hotels on Map</h6></a>
                    <p style="text-align: left !important; width: 95% !important; margin-left: 0.5rem;">Effortlessly find the perfect stay with our interactive map feature. </p>
                </div>
            </div>
            </div>
        </div>


        <div class="row c4 mb-4" id="contactSection">
            <div class="col-lg-6 col-12 mb-4">
             <form action="/inquiry" method="post">
                 <p class="mb-2" style="font-weight: 700; color: #32AA27;">GET IN TOUCH</p>
                 <h3 class="mb-3">We'd love to hear from you!</h3>
                 <label for="name">Name:</label>
                 <input type="text" id="name" name="name">
                 <label for="email">Email:</label>
                 <input type="email" id="email" name="email">
                 <label for="message">Message:</label>
                 <textarea id="message" name="message" rows="5"></textarea>
                 <button type="submit" style="background-color: #32AA27; color: white; width: 100%;">Submit</button>
             </form>
            </div>
             <div class="col-lg-6 col-12 xxy mb-3" style="background-color:#EEF1EF; padding-top: 3rem; ">
                 
                 <div class="mb-3" >
                     <h5 style="font-weight: 700;">Get in touch</h5>
                     <div style="display: flex; align-items: center; cursor: pointer;">
                         <i class="fa-regular fa-envelope"></i>
                         <span>koushal9424@gmail.com</span>
                     </div>
                 </div>
                 <div class="mb-3" style="cursor: pointer;">
                     <h5 style="font-weight: 700;">Location</h5>
                     <a href="https://www.google.co.in/maps/place/Pune,+Maharashtra/@18.5245986,73.7805662,12z/data=!3m1!4b1!4m6!3m5!1s0x3bc2bf2e67461101:0x828d43bf9d9ee343!8m2!3d18.5204303!4d73.8567437!16zL20vMDE1eTJx?entry=ttu&g_ep=EgoyMDI0MDgyMS4wIKXMDSoASAFQAw%3D%3D" style="display: flex; text-decoration: none; color: black; align-items: center; cursor: pointer;">
                         <i class="fa-solid fa-location-dot"></i>
                         <span>Pune,MH IN</span>
                     </a>
                 </div>
                 <div class="contact-information" >
                     <h5 style="font-weight: 700;">Hours</h5>
                     <div style="width: 90%;" class="mb-3">
                         <div style="display: flex; justify-content: space-between;">
                             <span>Monday</span> <span>  9:00am	–	10:00pm</span>
                         </div>
                         <div style="display: flex; justify-content: space-between;">
                             <span>Tuesday</span> <span>  9:00am	–	10:00pm</span>
                         </div>
                         <div style="display: flex; justify-content: space-between;">
                             <span>Wednesday</span> <span>  9:00am	–	10:00pm</span>
                         </div>
                         <div style="display: flex; justify-content: space-between;">
                             <span>Thursday</span> <span>  9:00am	–	10:00pm</span>
                         </div>
                         <div style="display: flex; justify-content: space-between;">
                             <span>Friday</span> <span>  9:00am	–	10:00pm</span>
                         </div>
                         <div style="display: flex; justify-content: space-between;">
                             <span>Saturday</span> <span>  9:00am	–	10:00pm</span>
                         </div>
                         <div style="display: flex; justify-content: space-between;">
                             <span>Sunday</span> <span>  9:00am	–	10:00pm</span>
                         </div>
 
                     </div>
                 </div>
             </div>
         </div>

        <footer style="width: 100%;">
            <div class="f-info" >
                <div class="f-info-socials" style="font-size: 1.4rem;">
                    <i class="fa-brands fa-facebook"></i>&nbsp;
                    <i class="fa-brands fa-square-instagram"></i>&nbsp;
                    <i class="fa-brands fa-linkedin"></i>
                </div>
                <div>&copy;StayEase Private Limited</div>
                <div class="f-info-links">
                    <a href="/privacy">Privacy</a>
                    <a href="/terms">Terms</a>
                </div>
            </div>
        </footer>
 

    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script>
       
        window.addEventListener('scroll', function() {
            var navbar = document.querySelector('nav.navbar');
            if (window.scrollY > 0) {
                navbar.classList.add('scrolled');
            } else {
                navbar.classList.remove('scrolled');
            }
        });
        document.querySelectorAll('.contact-link, .contact-btn').forEach(button => {
        button.addEventListener('click', function(e) {
            e.preventDefault(); // Prevent default anchor behavior
            document.getElementById('contactSection').scrollIntoView({
                behavior: 'smooth'
            });
        });
        document.querySelector(".about").addEventListener("click",()=>{
            document.getElementById('aboutSection').scrollIntoView({
                behavior: 'smooth'
            });   
        })
        document.querySelector(".services").addEventListener("click",()=>{
            document.getElementById('serviceSection').scrollIntoView({
                behavior: 'smooth'
            });   
        })
    });

    document.querySelectorAll('.navbar-nav .nav-item-collapse a').forEach(link => {
    link.addEventListener('click', function() {
        var collapseElement = document.getElementById('navbarNav');
        var bootstrapCollapse = new bootstrap.Collapse(collapseElement, {
            toggle: false
        });
        bootstrapCollapse.hide();
    });
});

document.querySelectorAll('.contact-btn').forEach(button => {
    button.addEventListener('click', function(e) {
        e.preventDefault(); // Prevent default anchor behavior
        document.getElementById('contactSection').scrollIntoView({
            behavior: 'smooth'
        });

        var collapseElement = document.getElementById('navbarNav');
        var bootstrapCollapse = new bootstrap.Collapse(collapseElement, {
            toggle: false
        });
        bootstrapCollapse.hide();
    });
});

document.querySelector(".about").addEventListener("click", () => {
    document.getElementById('aboutSection').scrollIntoView({
        behavior: 'smooth'
    });
    
    var collapseElement = document.getElementById('navbarNav');
    var bootstrapCollapse = new bootstrap.Collapse(collapseElement, {
        toggle: false
    });
    bootstrapCollapse.hide();
});

document.querySelector(".services").addEventListener("click", () => {
    document.getElementById('serviceSection').scrollIntoView({
        behavior: 'smooth'
    });
    
    var collapseElement = document.getElementById('navbarNav');
    var bootstrapCollapse = new bootstrap.Collapse(collapseElement, {
        toggle: false
    });
    bootstrapCollapse.hide();
});





    </script>
</body>

</html>
