body{
  font-family: "Plus Jakarta Sans", sans-serif !important;
  min-height: 100vh !important;
  display: flex !important;
  flex-direction: column !important;
}

.container
{
    flex:1 !important;
}
.add-btn
{
    background-color:#fe424d !important;
    border: none !important;
    width: 6rem;
}
.show-edit-btn
{
    background-color: #fe424d !important;
    border: none !important;
    width: 6rem;
}
.add-btn:hover
{
    background-color:rgba(254, 66, 77, 0.8) !important;
}
.show-edit-btn:hover
{
    background-color:rgba(254, 66, 77, 0.8) !important;
}
.show-img
{
    height: 30vh !important;
    width: 20vw !important;
    margin-bottom: 1rem;
}
.navbar
{
    height: 5rem;
    background-color: white;
}
.fa-regular
{
    font-size: 2rem;
    color:#fe424d;
}
.nav-link
{
    color:black  !important;
}
.f-info-links a
{
    text-decoration: none;
    color: #222222;
}
.f-info-links a:hover
{
    text-decoration:underline;
}
.f-info
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: #ebebeb;
    height: 10rem;
}

.listing-link
{
    text-decoration: none !important;
}
.card
{
    border: none !important;
    margin-bottom: 2rem !important;
    border-radius: 1rem !important;
  
}
.card-img-top
{
    width: 100% !important;
    border-radius: 1rem !important;
    object-fit: cover !important;
}

.card-body
{
    padding: 0 !important;
    margin: 0 !important;
    background-color: #fff !important;
    border-bottom-left-radius: 1rem !important;
    border-bottom-right-radius: 1rem !important;
}
.card-text 
{
    font-weight: 500 !important;
}
.card-img-overlay
{
    opacity:0;
}
.card-img-overlay:hover
{
    opacity: 0.2 !important;
    background-color: white !important;
}

.show-btns
{
    display: flex;
}
.show-edit-btn,.edit-edit-btn
{
    width: 100%; background-color: #fe424d !important; border: none !important;
}
.edit-edit-btn:hover
{
    background-color: rgba(254, 66, 77, 0.8) !important;
}
.show-delete-btn
{
    width: 100%;
}

