
<%layout('/layouts/boilerplate.ejs')%>
<body>
    <div class="row">
        <div class="col-lg-7 col-12 offset-3" style="margin: auto;">
        <h2 class="mb-3 mt-2">Reset Your Password</h2>
        <form action="/reset-password" method="post" class="needs-validation mt-4" novalidate>
            <div class="mb-3">
                <label for="username" class="form-label" style="font-weight: 500;">Username:</label>
                <input type="text" id="username"  name="username" placeholder="Enter Username" class="form-control" required>
                
                <div class="invalid-feedback">
                     Username required!    
                </div>
            </div>
            <div class="mb-4">
                <label for="password" class="form-label" style="font-weight: 500;">New Password:</label>
                <input type="password" id="password"  name="password" placeholder="Enter New Password" class="form-control" required>
                <div class="invalid-feedback">
                    Please enter password
                </div>
            </div>
            
            <button class="btn" style="background-color: #fe424d; color: white;">Reset Password</button>
        </form>
        </div>
    </div>
</body>