<%layout('/layouts/boilerplate.ejs')%>
<body>
    <div class="row">
        <div class="col-7 offset-3" style="margin: auto;">
        <h2 class="mb-3 mt-2">Login</h2>
        <form action="/login" method="post" class="needs-validation mt-4" novalidate>
            <div class="mb-3">
                <label for="username" class="form-label" style="font-weight: 500;">Username:</label>
                <input type="text" id="username"  name="username" placeholder="Enter Username" class="form-control" required>
                
                <div class="invalid-feedback">
                     Username required!    
                </div>
            </div>
            <div class="mb-4">
                <label for="password" class="form-label" style="font-weight: 500;">Password:</label>
                <input type="password" id="password"  name="password" placeholder="Enter Password" class="form-control" required>
                <div class="invalid-feedback">
                    Please enter password
                 </div>
            </div>
            
            <button class="btn btn-success">Login</button>
        </form>
        </div>
    </div>
</body>